.header__reviews{
    padding: 4rem 0;
    text-align: center;
}
.title__reviews{
    font-size: 36px;
    font-family: 'Dancing Script', cursive;
    color: #FFCE6D;
    text-align: center;
}
.ads__reviews{
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFC;
    text-transform: capitalize;
    font-family: 'Roboto Condensed', sans-serif;
}

.cards__container{
    display: flex;

    overflow-x: hidden;
    white-space: nowrap;
    justify-content: center;

}

.comment__card{
    display: inline-block;
    flex-shrink: 0;
    background-color: rgb(16, 20, 24,.7);
    width: 40%;
    padding: 2rem;
    margin: 0 2rem;
}

.header__card{
    display: flex;
    flex-direction: row;
}
.name-rate__card{
    padding: 2rem;
}
.name_reviwer{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFC;
}
.comment{
    color: #FFFFFC;
    font-size: 16px;
    text-transform: capitalize;
    text-align: left;
    padding: 2rem 1rem;
    letter-spacing: .03rem;
    white-space: wrap;

}